{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

<!-- Identify the post title from the ID field -->
{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<!-- Figure out what symbol we need -->
{% if post.collection %}
  {% assign collection = post.collection %}
{% endif %}

<!-- Extract year from date -->
{% assign date_parts = post.date | split: "/" %}
{% if date_parts.size == 3 %}
  {% assign year = date_parts[2] %}
{% else %}
  {% assign year = post.date | date: "%Y" %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item" style="margin-left: 40px;">
  <div class="pub-date">
    {{ year }}
  </div>
  <div class="pub-content">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork"> 

    <!-- Create talk description -->
    <p class="archive__item-excerpt" itemprop="description">
    <!-- Deliver talk info -->
    {% if post.talkurl %}
      <a href="{{ post.talkurl }}">
    {% endif %}
    <b>{{ title }}</b>
    {% if post.talkurl %}
      </a>
    {% endif %}
    {% if post.type %}, {{ post.type }}{% endif %}{% if post.venue %}, <i>{{ post.venue }}</i>{% endif %}{% if post.location %}, {{ post.location }}{% endif %}{% if post.date %}, {{ post.date }}{% endif %}
    <br>

    <!-- Add links to additional information -->
    {% if post.talkurl %}
      <a href="{{ post.talkurl }}" rel="permalink"><i class="fa fa-fw fa-chain" aria-hidden="true"></i></a>
    {% endif %}
    {% if post.slidesurl %}
      <a href="{{ post.slidesurl }}" rel="permalink"><i class="fa fa-fw fa-file-pdf-o" aria-hidden="true"></i></a>
    {% endif %}
    {% if post.posterurl %}
      <a href="{{ post.posterurl }}" rel="permalink"><i class="fa fa-fw fa-image" aria-hidden="true"></i></a>
    {% endif %}
    {% if post.videourl %}
      <a href="{{ post.videourl }}" rel="permalink"><i class="fa fa-fw fa-video-camera" aria-hidden="true"></i></a>
    {% endif %}
    </p>
 </article>
 </div>
</div>

