/* ==========================================================================
   PUBLICATIONS
   ========================================================================== */

.publications{
    position: relative;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-left: 1rem;
    padding-right: 1rem;
}

.publications > .archive__item-excerpt {
  margin-top: 0;
  font-size: 1rem;
}

.publications a {
    color: #494e52;
    text-decoration: none;
}

.publications a:hover {
    color: #52adc8;
    text-decoration: none;
}

.pub-date {
  color: #FFF;
  font-size: 0.9rem;
  font-weight: bold;
  float: left;
  width: 50px;
  height: 50px;
  background: #494e52;
  border: 1px solid #404040;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  padding: 11px 0;
  text-align: center;
  margin-top: 0;
}

.pub-date::before {
  content: '';
  position: absolute;
  left: 50%;
  height: 20px;
  width: 1px;
  top: -20px;
  border-left: 1px solid #404040;
  z-index: 0;
}

.pub-date::after {
  content: '';
  position: absolute;
  left: 50%;
  height: 150px;
  width: 1px;
  bottom: -150px;
  border-left: 1px solid #404040;
  z-index: 0;
}

.pub-content {
  margin-left: 70px;
  margin-right: 5px;
  padding-top: 6px;
  padding-bottom: 20px;
  font-size: 1rem;
  overflow: visible;
}

.pub-content::before, .pub-content::after {
  content: "";
  display: table;
}

.pub-content p {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #494e52;
    line-height: 1.6;
}

.pub-content a {
  color: #494e52;
  text-decoration: none;
  font-size: 1rem;
}

.pub-content a:hover {
  color: #52adc8;
}

/* Icon styling for publication links */
.pub-content a i.fa-chain,
.pub-content a i.fa-github,
.pub-content a i.ai-osf,
.pub-content a i.ai-open-access-square,
.pub-content a i.fa-file-pdf-o,
.pub-content a i.fa-image,
.pub-content a i.fa-video-camera {
  font-size: 1.5rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  color: #494e52;
  vertical-align: middle;
}

.pub-content a:hover i {
  color: #52adc8;
}

/* Make sure bold text in citations is properly weighted */
.pub-content b {
  font-weight: 600;
}

/* Make sure italic text in citations is properly styled */
.pub-content i:not(.fa):not(.fab):not(.ai) {
  font-style: italic;
}
